# cklist top level folder
/*

!.gitignore


!.config
.config/*
.config/nvim/*
!.config/nvim/init.vim
!.config/ranger
.config/ranger/*
!.config/ranger/rifle.conf
!.config/ranger/scope.sh
README.md




/.oh-my-zsh/custom/*
!.oh-my-zsh/custom/aliases.zsh

!.bashrc
!.zshrc


!.vimrc
!.vim/
.vim/*
!.vim/autoload
